* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-color: #5a5a5a;
    --main-bg-color : #f42a64;
}

.container {
    padding: 4rem 13rem;
    color: var(--main-color) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.title {
    color: var(--main-bg-color);
    margin-bottom: 2rem;
    text-transform: uppercase;
}
.text-first {
    padding: 0px 5rem;
    line-height: 1.8;
}
.flex-row {
    display: flex;
    margin-top: 3rem;
}
.flex-col {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3rem;
    padding: 0px 2rem;
}
.flex-col:first-child {
    padding: 0px 2rem 0px 0px;
}
.flex-col:last-child {
    padding: 0px 0px 0px 2rem;
}
.icon-container {
    color: var(--main-bg-color);
    width: 100px;
    height: 100px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subtitle {
    margin-bottom: 1.5rem;
}
.text {
    line-height: 1.8;
}


@media (max-width: 992px) {
    .container {
        padding: 4rem;
        min-height: calc(100vh - 56px);
    }
    .title {
        text-align: center;
    }
    .flex-row {
        text-align: center;
        flex-direction: column;
    }
    .flex-col {
        align-items: center;
        padding: 0px !important;
    }
}